/*
FONT FACE STUFF:
font-family: 'Roboto Condensed', sans-serif;
*/

* {
    font-family: 'Roboto Condensed', sans-serif;
}

html, body {
    min-width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a:visited {
    color: darkgreen;
}

a:hover {
    letter-spacing: normal;
}

/*general style */

a {
	color: green;
    text-decoration: none;
    transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 18pt;
}

@media (max-width: 991.98px) {
	.maxwnav {
		width: 100%;
	}
}

/* page */

#mainblock {
    height: auto;
    width: 100%;
    left: 0;
    right: 0;
    padding: 140px 10% 110px 10%;
    background-image: linear-gradient(to left, #66CC99, #99CCCC);
    text-align: center;
    color: white;
	margin-bottom: 30px;
}

@media (min-width: 576px) {
	.grid-sizer {
		width: 100%;
	}
}

@media (min-width: 768px) {
	.grid-sizer {
		width: 50%;
	}
}

@media (min-width: 992px) {
	.grid-sizer {
		width: 33%;
	}
}

@media (min-width: 1200px) {
	.grid-sizer {
		width: 25%;
	}
}

#container {
	width: 90%;
	margin: auto;
	}

.listing {
	float: left;
	text-align: center;
	padding: 5px;
	background-color: white;
	border: 1px solid lightgray;
	border-radius: 5px 5px;
	margin: 5px;
	z-index: 1;
	}	

.listing img {
	width: 200px;
}

#container {
	height: auto !important;
}

/* scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: azure;
}

::-webkit-scrollbar-thumb {
  background-color: deepskyblue;
}

::-webkit-scrollbar-thumb:hover {
  background: cornflowerblue;
}